@model IEnumerable<Airline.Web.Data.Entities.Department>

@{
    ViewData["Title"] = "Index";
}

@section Style{

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

}


<div class="site-section" id="next" style="width:100%">
    <div class="container" style="width:100%">
        <h2>Departments List</h2>

        <p>
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </p>

        <br />

        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th> @Html.DisplayNameFor(model => model.Name)<th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>


                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>


@section Scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable();
        });

    </script>
}