@model Airline.Web.Models.ShowListFlightsModel

@{
    ViewData["Title"] = "Flights";
}


@if (@ViewBag.Message != null)
{
    <div class="site-section" id="next">
        <div class="container">

            <h2>@ViewBag.Message</h2>

            <br />

            <div class="form-group">
                <a class="btn btn-success" asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>


}

else
{
       
    <div class="site-section" id="next" style="width:100%;">
        <div class="container" style="width:60%">
            <form method="post">

                <br />

                <table class="table" style="color:#fff; width:100%;">
                    <thead>
                        <tr>
                            Flights One-Way
                        </tr>

                    </thead>

                    <tbody>

                        @foreach (var item in Model.Flights)
                        {
                            <tr>
                                <td>
                                    <input type="radio" asp-for="flightId" value="@item.Id" id="@item.Id" style="background-color:#242333;" />

                                </td>
                                <td>
                                    <p>@Html.DisplayFor(modelItem => item.Departure)</p>
                                    <p style="font-size:small">@Html.DisplayFor(modelItem => item.From.City.Name)</p>
                                </td>
                                <td>-------------<img src="~/images/airplane2.jpg" />----------</td>
                                <td>
                                    <p>@Html.DisplayFor(modelItem => item.Arrival)</p>
                                    <p style="font-size:small">@Html.DisplayFor(modelItem => item.To.City.Name)</p>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <br />

                @if (Model.FlightsReturn== null || Model.FlightsReturn.Count == 0)
                {
                  
                }
                else
                {
                
                <table class="table" style="color:#fff; width:100%;">
                    <thead>
                        <tr>

                            Return Flights

                        </tr>

                    </thead>
                    <tbody>

                        @foreach (var item in Model.FlightsReturn)
                        {
                            <tr>
                                <td style="width:5%">
                                    <input type="radio" asp-for="flightIdReturn" value="@item.Id" id="@item.Id" style="background-color:#242333;" />

                                </td>
                                <td style="width:25%">
                                    <p>@Html.DisplayFor(modelItem => item.Departure)</p>
                                    <p style="font-size:small">@Html.DisplayFor(modelItem => item.From.City.Name)</p>
                                </td>
                                <td style="width:30%">-------------<img src="~/images/airplane2.jpg" />----------</td>
                                <td style="width:25%">
                                    <p>@Html.DisplayFor(modelItem => item.Arrival)</p>
                                    <p style="font-size:small">@Html.DisplayFor(modelItem => item.To.City.Name)</p>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                }
                <br />
                <div class="form-group" style="float: right">
                    <input type="hidden" asp-for="isRoundTrip" />
                    <input type="submit" value="Confirm" class="btn btn-success" />
                    <a class="btn btn-info" asp-action="Index">Home</a>
                </div>

            </form>


        </div>
    </div>

    
}

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}