@model Airline.Web.Data.Entities.Destination

@{
    ViewData["Title"] = "Details";
}


<div class="site-section" id="next">
    <div class="container">
        <h2>Destination Details</h2>
        <br />
        <br />
        <div class="row">
            <div class="col-md-4 offset-md-4">

                <div class="form-group">
                    <label class="control-label">@Html.DisplayNameFor(model => model.IATA)</label>
                    <label class="form-control"> @Html.DisplayFor(model => model.IATA) </label>
                </div>

                <div class="form-group">
                    <label class="control-label"> @Html.DisplayNameFor(model => model.Airport) </label>
                    <label class="form-control"> @Html.DisplayFor(model => model.Airport) </label>
                </div>


                <div class="form-group">
                    <label class="control-label">Country</label>
                    <label class="form-control"> @Html.DisplayFor(model => model.Country.Name) </label>
                </div>

                <div class="form-group">
                    <label class="control-label">City</label>
                    <label class="form-control"> @Html.DisplayFor(model => model.City.Name)</label>
                </div>

                <div class="form-group" style=" float: left;">
                    <a class="btn btn-success" asp-action="Index">Back to List</a>
                </div>

            </div>
        </div>
    </div>
</div>