@model Airline.Web.Data.Entities.Country

@{
    ViewData["Title"] = "Details";
}

<div class="site-section" id="next">
    <div class="container" >
        <h2>Country Details</h2>

        <br />

        <a asp-action="AddCity" asp-route-id="@Model.Id" class="btn btn-info">Add City</a>
        <a asp-action="Index" class="btn btn-success">Back to List</a>

        <br />

        @if (Model.Cities == null || Model.Cities.Count == 0)
        {
            <br/>
            <h5>No cities added yet</h5>
            <br/>
        }

        else
        {
            <table class="table" style="color:#fff;">
                <thead>
                    <tr>
                        <th style="border:none">
                            Cities
                        </th>
                    </tr>

                </thead>
                <tbody>

                    @foreach (var item in Model.Cities.OrderBy(c => c.Name))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td id="@item.Id">
                                <a asp-action="EditCity" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                                <a asp-action="DeleteCity" asp-route-id="@item.Id" class="btn btn-danger" id="btnDelete">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
