@model List<CountryViewModel>

@{
    ViewData["Title"] = "Index";
}


<div class="site-section" id="next">
    <div class="container">
        <h2>Countries List</h2>
        <p>
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </p>

        <br />

        <table class="table" style="color: rgba(255, 255, 255,0.7)">
            <thead>
                <tr>
                    <th style="border:none">
                        Country Name
                    </th>

                    <th style="border:none">
                        Cities
                    </th>

                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <ul>
                                @for (int i = 0; i < item.Cities.Count; i++)
                                {
                                    <li>@Html.DisplayFor(modelItem => item.Cities[i].Name)</li>
                                }
                            </ul>
                        </td>

                        <td></td>

                        <td id="@item.CountryId">
                            <a asp-action="Edit" asp-route-id="@item.CountryId" class="btn btn-warning">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.CountryId" class="btn btn-info">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.CountryId" class="btn btn-danger" id="btnDelete">Delete</a>
                        </td>


                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}

   
